<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Wall</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="shortcut icon" href="./images/green-check.png" />
    <script src="./jquery/dist/jquery.slim.min.js"></script>
    <script src="./js/app.js"></script>
</head>
<body>
    <div class="post">
        <h3>What's on your mind:</h3>
        <form action="/post" method="POST">
        <textarea cols="80" rows="3" name="content"></textarea>
        <div class="buttons">
            <button type="submit">Publish Post</button>
        </div>
        </form>
    </div>
    <h2>Posts to the Wall</h2>
    <div class="all_posts">
            <% for (var post = 0; post < all_posts.length; post++) { %>
                <div class="single_post">
                    <h4><%= all_posts[post].name %> -- <%= all_posts[post].createdAt %></h4>
                    <h2><%= all_posts[post].content %></h2>
                    <div class="all_comments">
                    <% for (var comment = 0; comment < all_comments.length; comment++) { %>
                        <p><%= all_comments[comment].content %></p>
                        <% } %>
                    </div>
                    <h3>Add a Comment:</h3>
                    <form asp-controller="Wall" asp-action="Comment" method="POST">
                        <input type="hidden" name="postId" value="@post["id"]">
                        <textarea name="content" rows="2" cols="40"></textarea>
                        <div class="buttons">
                            <button type="submit">Publish Comment</button>
                        </div>
                    </form>
                </div>
            <% } %>
    </div>
</body>
</html>