<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quoting Dojo</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="shortcut icon" href="./images/user-favicon.ico" />
    <script src="./jquery/dist/jquery.slim.min.js"></script>
    <script src="./js/app.js"></script>
</head>
<body>
    <div class="header">
        <h1>Mongoose Application Portal</h1>
        <img src="./images/user-icon.png" alt="user_image" class="logo_image">
    </div>
    <div class="nav">
        <a href="/quotingDojo"><h1>Quoting Dojo</h1></a>
        <a href="/wall"><h1>The Wall</h1></a>
        <a href="/secrets"><h1>Dojo Secrets</h1></a>
    </div>
    <div class="wrapper">
        <div class="content">
            <div class="welcome">
                Quoting Dojo under construction
            </div>
        </div>
    </div>
</body>
</html>